@charset "UTF-8";

body {
	font-family: Arial;
	background: #f4f4f4;
}

/* --- HEADER --- */

/* --- LAYOUT 3 CỘT --- */
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* ngang */
	align-items: flex-start;
	width: 100%;
	gap: 20px;
}

/* Trái */
.left {
	min-height: 100vh;
	float: left;
	width: 150px;
	background: white;
	padding: 15px;
	border-radius: 5px;
	justify-content: flex-start;
}

/* Giữa */
.mid {
	min-height: 100vh;
	width: 900px;
	background: white;
	padding: 15px;
	height: 100%;
	border-radius: 5px;
	margin-left: 50px;
}

/* Phải */
.right {
	min-height: 100vh;
	float: right;
	justify-content: flex-end;
	width: 150px;
	background: white;
	padding: 15px;

	border-radius: 5px;
}

.right img {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
}

/* --- FOOTER LUÔN DƯỚI CÙNG --- */