@charset "UTF-8";

body {
	font-family: Arial;
	background: #f4f4f4;
}

/* --- HEADER --- */

/* --- LAYOUT 3 CỘT --- */
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* ngang */
	align-items: flex-start;
	width: 100%;
	gap: 20px;
}



/* Giữa */
.mid {
	min-height: 100vh;
	width: 900px;
	background: white;
	padding: 15px;
	height: 100%;
	border-radius: 5px;
	margin-left: 50px;
}