@charset "UTF-8";

.linkbando {
	font-size: 50px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	display: block;
	margin-top: 10px;
}

.linkbando:hover {
	font-size: 50px;
	font-weight: bold;
	color: #80ffff;
	text-decoration: none;
	display: block;
	margin-top: 10px;
}