@charset "UTF-8";

.news-item {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 10px;
	display: flex;
	align-items: center;
}

.news-img {
	flex: 1;
	max-width: 100px;
	margin-right: 10px;
}

img {
	width: 100%;
	height: auto;
}

.news-title {
	flex: 3;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

p {
	margin: 5px 0;
	font-size: 0.9em;
	color: #666;
}